<div class="container">
    <header>
        <h4><strong>LabCHOPs</strong> is &ldquo;The Next Chapter in eLearning&rdquo;.</h4>
    </header> 
        <div class="container">
            <div class="row">
            <div class="col-md-6 portfolio-item">
                <h2>About</h2>
                    <p><strong>LabCHOPs</strong> is an innovative web platform that will enhance the way math and science is currently being studied in schools, homes and in groups around the world. LabCHOPs is a website that is focused on building open communities for solving math and science problems and enable distributed groups to visualize complex solutions wrapped in a social networking platform.</p>
            </div>
            
            <div class="col-md-6 portfolio-item">
                <article>
                    <h2>History</h2>
                    <p><strong>LabCHOPs</strong> was initially targeted to the higher education institutes, high schools, college students and educational companies. First, the goal is to reach the local (state) educational systems; more specifically the students, local area schools, then move across the country and internationally from there. LabCHOPs is a free education based social environment for the users. We encourage colleges, universities and educational companies to integrate the application into their specific student/teacher or interactive platforms used for student assignments so teachers and professors can upload homework and assignments and be able to track students&rsquo; progress.</p>
                </article>
            </div>
        </div>
</div>