<div class="jumbotron text-center">
    <h1>Welcome to LabCHOPS</h1>
    <h3><!--Thank you for joining us at the Lab.--> Collaborate, study and work on various subjects over the internet from anywhere with anyone.</h3>
</div>